---
name: "proxysql"
namespace: "default"
service:
  ports:
  - protocol: TCP
    port: 6033
  sessionAffinity: "ClientIP"
  type: "NodePort"
  externalTrafficPolicy: "Local"
daemonset:
  containers:
    image: proxysql/proxysql:latest
    imagePullPolicy: "IfNotPresent"
    resources:
      requests:
        memory: "500Mi"
        cpu: "0.3"
        ephemeral_storage: "2048Mi"
      limits:
        memory: "1000Mi"
        cpu: "0.6"
        ephemeral_storage: "2048Mi"
    ports:
    - name: proxysql
      containerPort: 6033
    - name: proxysql-admin
      containerPort: 6032
    readinessProbe:
      probe: |
        tcpSocket:
          port: 6032
      initialDelaySeconds: 30
      periodSeconds: 10
    livenessProbe:
      probe: |
        tcpSocket:
          port: 6032
      initialDelaySeconds: 30
      periodSeconds: 10
    startupProbe:
      probe: |
        tcpSocket:
          port: 6032
      failureThreshold: 10
      periodSeconds: 10
    volumeMounts:
      proxysql:
        mountPath: "/etc/proxysql.cnf"
        subPath: "proxysql.cnf"
  volumes:
    proxysql:
      configmap: "proxysql"
configmap:
  datadir: "/var/lib/proxysql"
  errorlog: "/var/lib/proxysql/proxysql.log"
  admin_variables:
    admin_credentials: ""
    mysql_ifaces: "0.0.0.0:6032"
  mysql_variables:
    threads: "8"
    max_connections: "16384"
    default_query_delay: "0"
    default_query_timeout: "36000000"
    have_compress: true
    poll_timeout: "2000"
    interfaces: "0.0.0.0:6033;/tmp/proxysql_ds/proxysql.sock"
    default_schema: "information_schema"
    stacksize: "1048576"
    server_version: "5.7"
    monitor_username: ""
    monitor_password: ""
    monitor_history: "600000"
    monitor_connect_interval: "60000"
    monitor_ping_interval: "10000"
    monitor_read_only_interval: "1500"
    monitor_read_only_timeout: "500"
    ping_interval_server_msec: "120000"
    commands_stats: "true"
    sessions_sort: "true"
    connect_retries_on_failure: "10"
    monitor_connect_timeout: "5000"
    monitor_ping_timeout: "5000"
    monitor_replication_lag_timeout: "10000"
    connect_timeout_server: "10000"
    ping_timeout_server: "2500"
    long_query_time: "5000"
  # defaults are defined within configfile template
  mysql_servers: {}
  mysql_users: {}
  mysql_query_rules: {}
  scheduler: {}
  mysql_replication_hostgroups: {}
