---
# https://github.com/creyD/prettier_action
name: Prettier markdown files

on:
  push:
    paths:
      - '**.md'

jobs:
  prettier-md:
    runs-on: ubuntu-latest
    timeout-minutes: 1

    steps:
      - name: Git checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: ${{ github.head_ref }}

      - name: Prettify code
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        with:
          prettier_options: --write {**/*,*}.md
